<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--<li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>-->
                        <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Latest Survey<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="../general-issues/index.html"><i class="fa fa-globe fa-fw"></i> General Issues</a></li>
                                <li><a href="../political-climate/index.html"><i class="fa fa-tachometer fa-fw"></i> Political Climate</a></li>
                                <li><a href="#"><i class="fa fa-bank fa-fw"></i> Democracy &amp; Institutions</a></li>
                                <li><a href="../electoral-issues/index.html"><i class="fa fa-archive fa-fw"></i> Electoral Issues</a></li>
                                <li><a href="../voter-participation/index.html"><i class="fa fa-check fa-fw"></i> Voter Participation</a></li>
                                <!--<li><a href="../civic-education/index.html"><i class="fa fa-bullhorn fa-fw"></i> Civic Education</a></li>-->   
                            </ul>
                        </li>       
                             
                        <li><a href="#"><i class="fa fa-bank fa-fw"></i> Democracy &amp; Institutions<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="#">Satisfaction with Democracy</a></li>
                                <li><a href="#">Political System Reform</a></li>
                                <li><a href="#">Confidence in Institutions &amp; Authorities</a></li>
                                <li><a href="#">Importance of Ethnicity in Politics</a></li>
                                <li><a href="#">Satisfaction with Elections</a></li>
                                <li><a href="#">Satisfaction with IEC</a></li>
                                <li><a href="#">Satisfaction with IECC</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div> 

            
                                