<!-- Democracy & Institutions - Satisfaction with Democracy -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 550px;
            width: 500px;
        } 

/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>SATISFACTION WITH DEMOCRACY IN AFGHANISTAN</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
                     <svg id="chart2" class="with-3d-shadow with-transitions"></svg>
                    

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>Bold Heading Topic</h4>
                        <p>Put any text you want here. Style it however you want.</p>
                    </div> 
            
                    
                    <a href="#" class="toggle-nav btn btn-sm btn-primary" id="#"><i class="fa fa-info"></i></a>
                    <a href="#" class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
   var data1 = [
        {key: "Very Satisfied", y: 23.2},
        {key: "Somewhat Satisfied", y: 42.2},
        {key: "Somewhat Dissatisfied", y: 14.2},
        {key: "Very Dissatisfied", y: 9.7},
        {key: "No Democracy", y: 4.6}
    ];

   var data2 = [
    {
        "key": "Very Satisfied",
        "color": "#005288", //blue
        "values": [
            {   "label": "National Average",
                "value": 23.2
            },  
            {
                "label": "Central",
                "value": 21.1
            },
            {
                "label": "Central Highlands",
                "value": 49.5
            },
            {
                "label": "East",
                "value": 15.4
            },
            {
                "label": "North",
                "value": 19.6
            },
            {
                "label": "North East",
                "value": 31.0
            }, 
            {
                "label": "South",
                "value": 26.2
            },
            {
                "label": "South East",
                "value": 12.9
            },
            {
                "label": "West",
                "value": 27.4
            }
            
        ]
    },
    {
        "key": "Somewhat Satisfied",
        "color": "#7AA9DD", //light blue
        "values": [
            {   "label": "National Average",
                "value": 42.2
            },
            {
                "label": "Central",
                "value": 39.5
            },            
            {
                "label": "Central Highlands",
                "value": 18.1
            },
            {
                "label": "East",
                "value": 53.1
            },
            {
                "label": "North",
                "value": 36.0
            },
            {
                "label": "North East",
                "value": 38.1
            },
             {
                "label": "South",
                "value": 45.7
            },
            {
                "label": "South East",
                "value": 47.9
            },
            {
                "label": "West",
                "value": 48.8
            }
        ]
    },
    {
        "key": "Somewhat Dissatisfied",
        "color": "#BC8F8F", //light red
        "values": [
            {   "label": "National Average",
                "value": 14.2
            },
            {
                "label": "Central",
                "value": 16.7
            },
            {
                "label": "Central Highlands",
                "value": 4.7
            },
            {
                "label": "East",
                "value": 10.1
            },
            {
                "label": "North",
                "value": 12.3
            },
            {
                "label": "North East",
                "value": 14.1
            }, 
            {
                "label": "South",
                "value": 17.6
            },
            {
                "label": "South East",
                "value": 19.2
            },
            {
                "label": "West",
                "value": 10.0
            }
        ]
    },
    {
        "key": "Very Dissatisfied",
        "color": "#800000", //red
        "values": [
            {   "label": "National Average",
                "value": 9.7
            },
            {
                "label": "Central",
                "value": 11.9
            },
            {
                "label": "Central Highlands",
                "value": 11.6
            },
            {
                "label": "East",
                "value": 13.7 
            },
            {
                "label": "North",
                "value": 9.1
            },
            {
                "label": "North East",
                "value": 4.4
            },
            {
                "label": "South",
                "value": 8.0
            },
            {
                "label": "South East",
                "value": 11.6
            },
            {
                "label": "West",
                "value": 8.8
            }
        ]
    },
     {
        "key": "No Democracy",
        "color": "#5a1010", //dark red
        "values": [
            {   "label": "National Average",
                "value": 4.6
            },
            {
                "label": "Central",
                "value": 6.9
            },
            {
                "label": "Central Highlands",
                "value": 5.5
            },
            {
                "label": "East",
                "value": 1.8 
            },
            {
                "label": "North",
                "value": 6.9
            },
            {
                "label": "North East",
                "value": 3.1
            },
            {
                "label": "South",
                "value": 1.8
            },
             {
                "label": "South East",
                "value": 3.9
            },
            {
                "label": "West",
                "value": 4.2
            }
        ]
    }

]
    
nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .color(["#005288", "#7AA9DD", "#BC8F8F", "#800000", "#5a1010"]) 
            .labelType("value")
            //.tooltips(false)
            .tooltipContent(function(key, y, e, graph) {
                return '<h5 style="padding: 5px; text-align: center">' + key + '</h5>'
                        + '<p style="padding: 5px;">' +  y + '%</p>';
            })
            //.width(width)
            //.height(height);
        d3.select("#chart1")
            .datum(data1)
            .transition().duration(1200)
            .call(chart);
        return chart;
    });

nv.addGraph(function() {
  var chart = nv.models.multiBarHorizontalChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value / 100 })
      .margin({left: 100})
      /*.tooltipContent(function(key, x, y, e, graph) {
        return '<h5 style="text-align:center; padding:0px; color:#000; font-weight: 700">' + key + " (" + x + ")</h5><h4 style='text-align: center; color: #000; font-weight: 700;'>" + y + '</h5>'
    });*/

      
        //.showValues(false)
        .tooltips(true)
        //.barColor(d3.scale.category20().range())
        .stacked(true)
        //.showControls(false);

  chart.yAxis 
    .tickFormat(d3.format('.1%'));
  //chart.xAxis
    //.tickFormat(d3.format('d'));

  d3.select('#chart2')
      .datum(data2)
      .transition().duration(1200)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

</script>