<!-- Democracy & Institutions - Satisfaction with IEC & IECC Performance -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 66%;
            min-width: 100%;
        } 

/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>SATISFIED WITH IEC &amp; IECC PERFORMANCE IN 2014 ELECTIONS</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
                    

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>Are you satisfied with the performance of the IEC during the 2014 elections? Are you satisfied with performance of the IECC during the 2014 elections?</h4>
                        <p>We asked Afghans familiar with the functions of the Independent Election Commission (IEC) and Independent Electoral Complaints Commission (IECC) whether they are satisfied with the institutions’ performance during the 2014 elections. Forty-eight percent of respondents reported they are familiar with the function of the IEC, and of those, three-in-five respondents are satisfied with its performance. Thirty-two percent of respondents reported they are familiar with the function of the IECC, and of those, three-in-five respondents are satisfied with its performance. There was notably higher than average satisfaction with the institutions in the south and east.</p>
                    </div> 
            
                    
                    <a class="toggle-nav btn btn-sm btn-primary" id="info"><i class="fa fa-info"></i></a>
                    <a class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
   var data = [
    {
        "key": "IEC - Yes",
        "color": "#005288", //blue
        "values": [
            {   "label": "National Average",
                "value": 61.3
            },    
            {
                "label": "Central",
                "value": 57.9
            },
            {
                "label": "Central Highlands",
                "value": 53.6
            }, 
            {
                "label": "East",
                "value": 75.8
            },
            {
                "label": "North",
                "value": 47.1
            },
            {
                "label": "North East",
                "value": 68.1
            },
            {
                "label": "South",
                "value": 86.3
            },
            {
                "label": "South East",
                "value": 65.3
            },
            {
                "label": "West",
                "value": 42.5
            }
        ]
    },
    {
        "key": "IEC - No",
        "color": "#800000", //red
        "values": [
            {   "label": "National Average",
                "value": 37.4
            },
            {
                "label": "Central",
                "value": 38.5
            },
            {
                "label": "Central Highlands",
                "value": 46.4
            },
            {
                "label": "East",
                "value": 24.2
            },
            {
                "label": "North",
                "value": 51.8
            },
            {
                "label": "North East",
                "value": 28.7
            },
            {
                "label": "South",
                "value": 13.2
            }, 
            {
                "label": "South East",
                "value": 34.7
            },
            {
                "label": "West",
                "value": 57.5
            }
        ]    
    },
    {
        "key": "IECC - Yes",
        "color": "#7AA9DD", //light blue
        "values": [
            {   "label": "National Average",
                "value": 61.6
            },
            {
                "label": "Central",
                "value": 61.8
            },
            {
                "label": "Central Highlands",
                "value": 41.2
            },
            {
                "label": "East",
                "value": 82.9
            },
            {
                "label": "North",
                "value": 56.8
            },
            {
                "label": "North East",
                "value": 60.1
            },
            {
                "label": "South",
                "value": 78.0
            },
            {
                "label": "South East",
                "value": 70.2
            },
            {
                "label": "West",
                "value": 38.1
            }
        ]
    },
    {
        "key": "IECC - No",
        "color": "#BC8F8F", //light red
        "values": [
            {   "label": "National Average",
                "value": 37.0
            },            
            {
                "label": "Central",
                "value": 36.6
            },
            {
                "label": "Central Highlands",
                "value": 58.8
            },
            {
                "label": "East",
                "value": 15.9
            },
            {
                "label": "North",
                "value": 41.4
            },
            {
                "label": "North East",
                "value": 35.7
            },
            {
                "label": "South",
                "value": 20.2
            }, 
            {
                "label": "South East",
                "value": 29.3
            }, 
            {
                "label": "West",
                "value": 61.9
            }
        ]
    }
]
    
nv.addGraph(function() {
  var chart = nv.models.multiBarChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value / 100 })
      //.margin({left: 100})
      /*.tooltipContent(function(key, x, y, e, graph) {
        return '<h5>' + key + " - " + x + '</h5>' + '<h4 style="text-align: center; color: #000; font-weight: 700;">' + y + '</h4>'
    });*/

      
        //.showValues(false)
        //.tooltips(true)
        //.barColor(d3.scale.category20().range())
        //.stacked(true)
        //.showControls(false);

  chart.yAxis 
    .tickFormat(d3.format('.1%'));
  //chart.xAxis
    //.tickFormat(d3.format('d'));

  d3.select('#chart1')
      .datum(data)
      .transition().duration(1200)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

</script>