<!-- Electoral Issues - Biggest Problems in 2014 Elections -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 66%;
            min-width: 100%;
        } 

/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>BIGGEST PROBLEMS OF 2014 PRESIDENTIAL ELECTIONS</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
   

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>What was the main problem with the 2014 presidential election, if any?</h4>
                        <p>A plurality of nearly thirty percent of respondents cited corruption in the Independent Election Commission as the biggest problem of the election. Following IEC corruption, the most significant problems reported were lack of ballots and voter fraud. Respondents in the north, southeast, and west were most likely to report lack of ballots as the main problem and respondents in the south, west, and northeast were most likely to report voter fraud as the main problem. A quarter of respondents in the east cited security as the biggest problem, which is far above the national average.</p>
                    </div> 
            
                    
                    <a class="toggle-nav btn btn-sm btn-primary" id="info"><i class="fa fa-info"></i></a>
                    <a class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
    var data1 = [
    {
        "key": "IEC Corruption",
        "values": [
            {
                "label": "Biggest Problems",
                "value": 29
            }
        ]
    },
    {
        "key": "Lack of Ballots",
        "values": [
            {
                "label": "Biggest Problems",
                "value": 17
            }
        ]
    },
    {
        "key": "Voter Fraud",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 15
            }
        ]
    },
    {
        "key": "Insecurity",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 9
            }
        ]
    },
    {
        "key": "Foreign Interference",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 7
            }
        ]
    },
    {
        "key": "Political Interference",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 6
            }
        ]
    },
    {
        "key": "Distance to Polling Centers",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 5
            }
        ]
    },
    {
        "key": "Don't Know",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 3
            }
        ]
    },
    {
        "key": "No Problem",
        "values": [
            
            {
                "label": "Biggest Problems",
                "value": 9
            }
        ]
    }
       ]

var chart;
    nv.addGraph(function() {
        chart = nv.models.multiBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value / 100 })
            //.barColor(d3.scale.category10().range())
            .duration(1200)
            .tooltipContent(function(key, x, y, e, graph) {
        return '<h3>' + key + '</h3><p>' + y + '</p>'
    });
            //.growOnHover(true)
            //.stacked(true);
            
        chart.yAxis.tickFormat(d3.format('.1%'));

        d3.select('#chart1')
            .datum(data1)
            .transition().duration(1200)
            .call(chart);
        nv.utils.windowResize(chart.update);
        chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
        chart.state.dispatch.on('change', function(state){
            nv.log('state', JSON.stringify(state));
        });
        return chart;
    });


</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60568590-1', 'auto');
  ga('send', 'pageview');

</script>