<!--Electoral Issues - Legitimacy of 2014 Elections - Voters -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 500px;
            width: 1000px;
        } 

        /*#chart1 {
            margin: 30px;
            min-width: 100px;
            min-height: 100px;
            }
/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>LEGITIMACY OF 2014 ELECTIONS ACCORDING TO VOTERS</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
   

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>Bold Heading Topic</h4>
                        <p>Put any text you want here. Style it however you want.</p>
                    </div> 
            
                    
                    <a href="#" class="toggle-nav btn btn-sm btn-primary" id="#"><i class="fa fa-info"></i></a>
                    <a href="#" class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
    var data = [
    {
        "key": "Central",
        "values": [
            { "label": "April 2014 Elections", "value": 65.9 },
            { "label": "June 2014 Runoff", "value": 67.9 }
        ]
    },
    {
        "key": "Central Highlands",
        "values": [
            { "label": "April 2014 Elections", "value": 63.1 },
            { "label": "June 2014 Runoff", "value": 63.6 }
        ]
    },
    {
        "key": "East",
        "values": [
            { "label": "April 2014 Elections", "value": 93.7 },
            { "label": "June 2014 Runoff", "value": 94.0 }
        ]
    },
    {
        "key": "North",
        "values": [
            { "label": "April 2014 Elections", "value": 71.5 },
            { "label": "June 2014 Runoff", "value": 72.8 }
        ]
    },
    {
        "key": "North East",
        "values": [
            { "label": "April 2014 Elections", "value": 60.4 },
            { "label": "June 2014 Runoff", "value": 62.4 }
        ]
    },
    {
        "key": "South",
        "values": [
            { "label": "April 2014 Elections", "value": 80.8 },
            { "label": "June 2014 Runoff", "value": 82.5 }
        ]
    },
    {
        "key": "South East",
        "values": [
            { "label": "April 2014 Elections", "value": 68.5 },
            { "label": "June 2014 Runoff", "value": 72.7 }
        ]
    },
    {
        "key": "West",
        "values": [
            { "label": "April 2014 Elections", "value": 52.0 },
            { "label": "June 2014 Runoff", "value": 57.0 }
        ]
    }
]



var chart;
    nv.addGraph(function() {
        chart = nv.models.multiBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value / 100 })
            //.barColor(d3.scale.category10().range())
            .duration(1200)
            .tooltipContent(function(key, x, y, e, graph) {
        return '<h3>' + key + '</h3><p>' + y + '</p>'
    });
            //.growOnHover(true)
            //.stacked(true);
            
        chart.yAxis.tickFormat(d3.format('.1%'));

        d3.select('#chart1')
            .datum(data)
            .transition().duration(1200)
            .call(chart);
        nv.utils.windowResize(chart.update);
        chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
        chart.state.dispatch.on('change', function(state){
            nv.log('state', JSON.stringify(state));
        });
        return chart;
    });


</script>