<!-- General Issues - Living Conditions -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 550px;
            min-width: 100%;
        } 

/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>RESPONDENTS PRESENT LIVING CONDITIONS</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
                    

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>How would you describe your own present living conditions?</h4><p>Overall, 58% of respondents believed their living conditions we're fairly or very good while 42% felt their conditions were either bad or very bad. Sentiment was well above average in the North East, where 80% of respondents thought their living conditions to be good. The situation also appears to be better on average in the Central and South East regions. Living conditions were found to be worse than average for respondents in the Central Highlands, where 60% felt conditions were bad or very bad. The situation also seems worse on average in the West.</p>
                    </div> 
            
                    
                    <a class="toggle-nav btn btn-sm btn-primary" id="info"><i class="fa fa-info"></i></a>
                    <a class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
   var data = [
    {
        "key": "Very Bad",
        "color": "#800000", //red
        "values": [
            {   "label": "National Average",
                "value": 14.3
            },
            {
                "label": "Central",
                "value": 9.5
            },
            {
                "label": "Central Highlands",
                "value": 23.8
            },
            {
                "label": "East",
                "value": 11.3

            },
            {
                "label": "North",
                "value": 9.7
            },
            {
                "label": "North East",
                "value": 2.4
            },
            {
                "label": "South",
                "value": 16.3
            }, 
            {
                "label": "South East",
                "value": 6.2
            },
            {
                "label": "West",
                "value": 16.4
            }
        ]
    },
    {
        "key": "Fairly Bad",
        "color": "#BC8F8F", //light red
        "values": [
            {   "label": "National Average",
                "value": 27.0
            },
            {
                "label": "Central",
                "value": 20.4
            }, 
            {
                "label": "Central Highlands",
                "value": 37.1
            },
            {
                "label": "East",
                "value": 25.2

            },
            {
                "label": "North",
                "value": 33.3
            },
            {
                "label": "North East",
                "value": 17.9
            },
            {
                "label": "South",
                "value": 22.9
            },
            {
                "label": "South East",
                "value": 27.2
            },
            {
                "label": "West",
                "value": 39.7
            }
        ]
    },
    {
        "key": "Fairly Good",
        "color": "#7AA9DD", //light blue
        "values": [
            {   "label": "National Average",
                "value": 48.0
            },
            {
                "label": "Central",
                "value": 55.1
            },
            {
                "label": "Central Highlands",
                "value": 35.9
            },
            {
                "label": "East",
                "value": 52.6

            },
            {
                "label": "North",
                "value": 42.0
            },
            {
                "label": "North East",
                "value": 60.8
            },
            {
                "label": "South",
                "value": 48.0
            },
            {
                "label": "South East",
                "value": 53.1
            },
            {
                "label": "West",
                "value": 36.7
            }
        ]
    },
    {
        "key": "Very Good",
        "color": "#005288", //blue
        "values": [
            {   "label": "National Average",
                "value": 9.9
            },
            {
                "label": "Central",
                "value": 14.9
            },
            {
                "label": "Central Highlands",
                "value": 3.2
            },
            {
                "label": "East",
                "value": 10.9 

            },
            {
                "label": "North",
                "value": 14.3
            },
            {
                "label": "North East",
                "value": 18.9
            },
            {
                "label": "South",
                "value": 12.7
            },
            {
                "label": "South East",
                "value": 13.5
            },
            {
                "label": "West",
                "value": 6.9
            }
        ]
    }
]
    
nv.addGraph(function() {
  var chart = nv.models.multiBarHorizontalChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value / 100 })
      .margin({left: 100})
      /*.tooltipContent(function(key, x, y, e, graph) {
        return '<h5 style="text-align:center; padding:0px; color:#000; font-weight: 700">' + key + " (" + x + ")</h5><h4 style='text-align: center; color: #000; font-weight: 700;'>" + y + '</h5>'
    });*/

      
        //.showValues(false)
        .tooltips(true)
        //.barColor(d3.scale.category20().range())
        //.stacked(true)
        //.showControls(false);

  chart.yAxis 
    .tickFormat(d3.format('.1%'));
  //chart.xAxis
    //.tickFormat(d3.format('d'));

  d3.select('#chart1')
      .datum(data)
      .transition().duration(1200)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

</script>