<title>{{ site.title }}</title>
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"> 
<style>

	body {
		background-image: url(img/AfSurvLanding.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
	}

	a {
		text-decoration: none;
	}

	#landtext {
		font-family: Lato;
		font-size: 25px;
		font-weight: 100;
		color: #afafaf;
		text-align: center; 
		padding-top: 340px;
		text-decoration: none;
	}

	#landfooter {
		background-color: #000;
		min-height: 900px;
		width: 20%;
		margin-left: 1%;
		margin-top: -2%;
		padding-top: 0px;
		opacity: 0.85;
}

	#brand {
		height: 150px;
		width: 225px; 
		padding-bottom: 500px;
	}

	#enter {
		height: 30px; 
		width: 150px;
		margin-left: 23%;
		margin-top: -4%; 
	}




</style>



	<a href="dashboard/index.html">
		<div id="landfooter">
		<div>
			<p id="landtext">Afghanistan Survey Data</p>
			<img src="img/DI-Logo-with-Text-Transparent.png" id="enter" />
			<!--<img src="../img/Flag_map_of_Afghanistan.png" id="brand"/>-->
		</div>
		</div>
	</a>


