<!-- Political Climate - Support for Withdrawal of International Forces -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 500px;
            min-width: 100%;
        } 

/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>SUPPORT FOR WITHDRAWAL OF INTERNATIONAL FORCES</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
                    

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>Bold Heading Topic</h4>
                        <p>Put any text you want here. Style it however you want.</p>
                    </div> 
            
                    
                    <a href="#" class="toggle-nav btn btn-sm btn-primary" id="#"><i class="fa fa-info"></i></a>
                    <a href="#" class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
   var data = [
    {
        "key": "No",
        "color": "#800000", //red
        "values": [
            {   "label": "2012 Natl Avg",
                "value": 24.0
            },
            {   "label": "2014 Natl Avg",
                "value": 35.3
            },
            {
                "label": "Central",
                "value": 42.8
            },
            {
                "label": "Central Highlands",
                "value": 63.6
            },
            {
                "label": "East",
                "value": 11.0
            },
            {
                "label": "North",
                "value": 44.6
            },
            {
                "label": "North East",
                "value": 30.5
            },
            {
                "label": "South",
                "value": 23.2
            },
            {
                "label": "South East",
                "value": 34.1
            },
            {
                "label": "West",
                "value": 39.0
            }
            
        ]
    },
    {
        "key": "Yes",
        "color": "#005288", //blue
        "values": [
            {   "label": "2012 Natl Avg",
                "value": 61.8
            },
            {   "label": "2014 Natl Avg",
                "value": 60.7
            },
            {
                "label": "Central",
                "value": 53.2
            },
            {
                "label": "Central Highlands",
                "value": 26.5
            },  
            {
                "label": "East",
                "value": 84.2
            },
            {
                "label": "North",
                "value": 44.3
            },
            {
                "label": "North East",
                "value": 66.9
            },
            
            {
                "label": "South",
                "value": 76.4
            },
            {
                "label": "South East",
                "value": 64.3
            },
            {
                "label": "West",
                "value": 60.6
            }
        ]
    }
]
    
nv.addGraph(function() {
  var chart = nv.models.multiBarChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value / 100 })
      //.margin({left: 100})
      /*.tooltipContent(function(key, x, y, e, graph) {
        return '<h5>' + key + " - " + x + '</h5>' + '<h4 style="text-align: center; color: #000; font-weight: 700;">' + y + '</h4>'
    });*/

      
        //.showValues(false)
        //.tooltips(true)
        //.barColor(d3.scale.category20().range())
        //.stacked(true)
        //.showControls(false);

  chart.yAxis 
    .tickFormat(d3.format('.1%'));
  //chart.xAxis
    //.tickFormat(d3.format('d'));

  d3.select('#chart1')
      .datum(data)
      .transition().duration(1200)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

</script>