<!-- Political Climate - Support for National Unity Government -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 66%;
            width: 500px;
        }


/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>SUPPORT IDEA OF NATIONAL UNITY GOVERNMENT</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
                     <svg id="chart2" class="with-3d-shadow with transitions"></svg>
                    

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>Do you support the idea of a National Unity Government as was agreed to recently by President Ghani and Dr. Abdullah?</h4>
                        <p>The National Unity Government (NUG) was formed in 2014 as a result of an agreement between the two candidates in the recent presidential runoff election, Ashraf Ghani and Abdullah Abdullah. The idea was initially agreed upon by the candidates in a political framework document on July 12, 2014 and was further detailed in a signed agreement on September 20, 2014. A large majority of survey respondents are supportive of the idea of the NUG. Respondents in southern Afghanistan were markedly less supportive of the NUG than the rest of Afghanistan.</p>
                    </div> 
            
                    
                    <a class="toggle-nav btn btn-sm btn-primary" id="info"><i class="fa fa-info"></i></a>
                    <a class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
   var data1 = [
        {key: "Yes", y: 85.1},
        {key: "No", y: 12.0},
        {key: "Don't Know", y: 2.6}
    ];

   var data2 = [
    {
        "key": "Yes",
        "color": "#005288", //blue
        "values": [
            {   "label": "National Average",
                "value": 85.1
            },            
            {
                "label": "Central",
                "value": 90.0
            },
            {
                "label": "Central Highlands",
                "value": 94.6
            },
            {
                "label": "East",
                "value": 85.9
            },
            {
                "label": "North",
                "value": 84.1
            },
            {
                "label": "North East",
                "value": 88.3
            },
            {
                "label": "South",
                "value": 59.4
            },
            {
                "label": "South East",
                "value": 87.2
            },
            {
                "label": "West",
                "value": 91.1
            }
            
        ]
    },
    {
        "key": "No",
        "color": "#800000", //red
        "values": [
            {   "label": "National Average",
                "value": 12.0
            },
            
            {
                "label": "Central",
                "value": 5.4
            },
            {
                "label": "Central Highlands",
                "value": 3.2
            },
            {
                "label": "East",
                "value": 13.1 

            },
            {
                "label": "North",
                "value": 6.7
            },
            {
                "label": "North East",
                "value": 10.8
            },
            {
                "label": "South",
                "value": 39.9
            },
            {
                "label": "South East",
                "value": 12.1
            },
            
            {
                "label": "West",
                "value": 8.7
            }
    
            
        ]
    }
]
 
nv.addGraph(function() {
        var chart = nv.models.pieChart()
            .x(function(d) { return d.key })
            .y(function(d) { return d.y })
            .color(["#005288", "#800000", "gray"]) 
            .labelType("value")
            //.tooltips(false)
            .tooltipContent(function(key, y, e, graph) {
                return '<h5 style="padding: 5px; text-align: center">' + key + '</h5>'
                        + '<p style="padding: 5px;">' +  y + '%</p>';
            })
            //.width(width)
            //.height(height);
        d3.select("#chart1")
            .datum(data1)
            .transition().duration(1200)
            .call(chart);
        return chart;
    });

nv.addGraph(function() {
  var chart = nv.models.multiBarHorizontalChart()
      .x(function(d) { return d.label })
      .y(function(d) { return d.value / 100 })
      .margin({left: 100})
      /*.tooltipContent(function(key, x, y, e, graph) {
        return '<h5 style="text-align:center; padding:0px; color:#000; font-weight: 700">' + key + " (" + x + ")</h5><h4 style='text-align: center; color: #000; font-weight: 700;'>" + y + '</h5>'
    });*/

      
        //.showValues(false)
        .tooltips(true)
        //.barColor(d3.scale.category20().range())
        //.stacked(true)
        //.showControls(false);

  chart.yAxis 
    .tickFormat(d3.format('.1%'));
  //chart.xAxis
    //.tickFormat(d3.format('d'));

  d3.select('#chart2')
      .datum(data2)
      .transition().duration(1200)
      .call(chart);

  nv.utils.windowResize(chart.update);

  chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });

  return chart;
});

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60568590-1', 'auto');
  ga('send', 'pageview');

</script>