<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--<li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                        </li>-->
                        <li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Latest Survey<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="#"><i class="fa fa-globe fa-fw"></i> General Issues<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="../gi-successes/index.html">Successes in Past Ten Years</a></li>
                                <li><a href="../gi-problems-national/index.html">Problems at National Level</a></li>
                                <li><a href="../gi-problems-community/index.html">Problems at Community Level</a></li>
                                <li><a href="../gi-direction/index.html">Direction of the Country</a></li>
                                <li><a href="../gi-direction-region/index.html">Direction of the Country by Region</a></li>
                                <li><a href="../gi-direction-right/index.html">Why Going in Right Direction</a></li>
                                <li><a href="../gi-direction-wrong/index.html">Why Going in Wrong Direction</a></li>
                                <li><a href="../gi-living-conditions/index.html">Living Conditions</a></li>
                                <li><a href="../gi-security-situation/index.html">Security Situation</a></li>
                            </ul>
                        </li>
                                
                                <li><a href="#"><i class="fa fa-bank fa-fw"></i> Democracy &amp; Institutions<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="../di-democracy-satisfaction/index.html">Satisfaction with Democracy</a></li>
                                <li><a href="../di-elections-satisfaction/index.html">Satisfaction with Elections</a></li>
                                <li><a href="../di-iec-satisfaction/index.html">Satisfaction with IEC &amp; IECC</a></li>
                                <!--<li><a href="../di-iecc-satisfaction/index.html">Satisfaction with IECC</a></li>-->
                                <li><a href="../di-confidence-institutions/index.html">Confidence in Institutions &amp; Authorities</a></li>
                                <li><a href="../di-political-reform/index.html">Political System Reform</a></li>
                                <li><a href="../di-ethnicity-politics/index.html">Importance of Ethnicity in Politics</a></li>
                            </ul>
                        </li>
                                 
                                <li><a href="#"><i class="fa fa-archive fa-fw"></i> Electoral Issues<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="../ei-legitimacy-elections/index.html">Legitimacy of 2009 &amp; 2014 Elections</a></li>
                                <li><a href="../ei-legitimacy-elections-2014/index.html">Legitimacy of 2014 Elections</a></li>
                                <li><a href="../ei-legitimacy-elections-voters/index.html">Legitimacy of 2014 Elections by Voters</a></li>
                                <li><a href="../ei-integrity-results/index.html">Integrity of 2014 Results</a></li>
                                <li><a href="../ei-audit-results/index.html">Audit &amp; Confidence in Results</a></li>
                                <li><a href="../ei-election-successes/index.html">Biggest Election Successes</a></li>
                                <li><a href="../ei-election-problems/index.html">Biggest Election Problems</a></li>
                                <li><a href="../ei-reform-parliamentary/index.html">Need for Electoral Reform</a></li>
                                <li><a href="../ei-reform-important/index.html">Important Electoral Reforms</a></li>
                                <li><a href="../ei-women-elections/index.html">Women &amp; Elections</a></li>
                            </ul>
                        </li>

                                <li><a href="#"><i class="fa fa-check fa-fw"></i> Voter Participation<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="../vp-voted-elections/index.html">Voted in 2014 Elections</a></li>
                                <li><a href="../vp-reasons-candidate/index.html">Reasons Voted for a Candidate</li></a>
                                <li><a href="../vp-plan-vote/index.html">Plan to Vote in Parliamentary Elections</a></li>
                                <li><a href="../vp-reasons-parliamentary/index.html">Reasons to Vote for Parliamentary Candidate</a></li>
                                <li><a href="../vp-voter-challenges/index.html">Challenges to Voter Participation</a></li>
                                <li><a href="../vp-women-challenges/index.html">Challenges to Women's Participation</a></li>
                            </ul>
                        </li> 
                               
                            </ul>
                        </li>       
                             
                        <li><a href="#"><i class="fa fa-tachometer fa-fw"></i> Political Climate<span class="fa fa-caret-left"></span></a>
                            <ul class="nav nav-second-level">
                                <li><a href="../pc-taliban-reconciliation/index.html">Support for Reconciliation with Taliban</a></li>
                                <li><a href="../pc-international-withdrawal/index.html">Support for Withdrawal of International Forces</a></li>
                                <li><a href="../pc-nug-support/index.html">Support for National Unity Government</a></li>
                                <li><a href="../pc-nug-likelihood/index.html">Likelihood of National Unity Government Success</a></li>
                                <li><a href="../pc-agreement-support/index.html">Support for Seven-Point Political Agreement</a></li>
                            </ul> 
                        </li>    
                    </ul>
                </div>
            </div> 
