<!--Voter Participation - Reasons Voted for a Candidate 2014 -->

<style>
      
        svg {
            display: block;
            float: left;
            height: 500px;
            min-width: 100%;
        } 

        /*#chart1 {
            margin: 30px;
            min-width: 100px;
            min-height: 100px;
            }
/*
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/


</style>

    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header"><strong>REASONS VOTED FOR A CANDIDATE IN 2014</strong></h1>

                </div>
            </div>
                    
                     <svg id="chart1" class="with-3d-shadow with-transitions"></svg>
   

                <div id="menu-wrapper">
                    <div id="menu-canvas">
                    <div id="site-menu"> 
                    
                        <h4>Bold Heading Topic</h4>
                        <p>Put any text you want here. Style it however you want.</p>
                    </div> 
            
                    
                    <a href="#" class="toggle-nav btn btn-sm btn-primary" id="info"><i class="fa fa-info"></i></a>
                    <a href="#" class="toggle-nav"></a>    
                </div> 
               </div>     
            </div>
        </div> 


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
   
 var data = [  
    {
        "key": "Policy Positions",
        "color": "#005288", //blue
        "values": [
            { "label": "Central", "value": 53.6 },
            { "label": "Central Highlands", "value": 32.8 },
            { "label": "East", "value": 61.3 },
            { "label": "North", "value": 28.3 },
            { "label": "North East", "value": 48.6 },
            { "label": "South", "value": 57.2 },
            { "label": "South East", "value": 51.7 },
            { "label": "West","value": 36.7 }            
        ]
    },
    {
        "key": "Ethnicity",
        "color": "#800000", //red
        "values": [
            { "label": "Central", "value": 18.0 },
            { "label": "Central Highlands", "value": 6.9 },
            { "label": "East", "value": 16.2 },
            { "label": "North", "value": 36.8 },
            { "label": "North East", "value": 20.4 },
            { "label": "South", "value": 23.4 },
            { "label": "South East", "value": 25.1 },
            { "label": "West","value": 33.0 }            
        ]
    },
    {
        "key": "Endorsements from Public Figure",
        "color": "#7AA9DD", //light blue
        "values": [           
            { "label": "Central", "value": 15.0 },  
            { "label": "Central Highlands", "value": 45.7 },
            { "label": "East", "value": 13.3 },
            { "label": "North", "value": 20.3 },
            { "label": "North East", "value": 17.0 },
            { "label": "South", "value": 10.6 },
            { "label": "South East", "value": 15.0 },
            { "label": "West", "value": 21.3 }
        ] 
    },
    {
        "key": "Reputation",
        "color": "#bc8f8f", //light red
        "values": [           
            { "label": "Central", "value": 9.6 },  
            { "label": "Central Highlands", "value": 12.4 },
            { "label": "East", "value": 4.6 },
            { "label": "North", "value": 10.1 },
            { "label": "North East", "value": 9.3 },
            { "label": "South", "value": 6.5 },
            { "label": "South East", "value": 7.5 },
            { "label": "West", "value": 8.2 }
        ] 
    }
]



var chart;
    nv.addGraph(function() {
        chart = nv.models.multiBarChart()
            .x(function(d) { return d.label })
            .y(function(d) { return d.value / 100 })
            //.barColor(d3.scale.category10().range())
            .duration(1200)
            .tooltipContent(function(key, x, y, e, graph) {
        return '<h3>' + key + '</h3><p>' + y + '</p>'
    });
            //.growOnHover(true)
            //.stacked(true);
            
        chart.yAxis.tickFormat(d3.format('.1%'));

        d3.select('#chart1')
            .datum(data)
            .transition().duration(1200)
            .call(chart);
        nv.utils.windowResize(chart.update);
        chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
        chart.state.dispatch.on('change', function(state){
            nv.log('state', JSON.stringify(state));
        });
        return chart;
    });


</script>